@model IEnumerable<PayrollApp.Models.Employee>

@{
    ViewData["Title"] = "Inicio";
}
    <br />
    <div class="row">
        <div class="col-6">
            <h2>Empleados</h2>
        </div>
        <div class="col-6">
            <p class="float-right">
                <a class="btn btn-dark" asp-action="Create">Nuevo empleado</a>
            </p>
        </div>
    </div>
    <hr />
    <table class="table" id="employeeTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Genero
                </th>
                <th>
                    Salario
                </th>
                <th>
                    Estado
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
        var salary = item.Salary;
        var status = item.Status ? "Activo" : "Inactivo";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @salary
                </td>
                <th>
                    @status
                </th>
                <td>
                    <center>
                        <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </center>
                </td>
            </tr>
    }     
        </tbody>
    </table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#employeeTable').dataTable({
                "language": {
                    "search": "Buscar",
                    "searchPlaceholder": "Buscar...",
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay datos disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
            });
        });
    </script>
}