@model IEnumerable<PayrollApp.Models.Dto.PayrollResponseDto>
@{
    ViewData["Title"] = "Inicio";
}
    <br />
    <div class="row">
        <div class="col-6">
            <h2>Nominas</h2>
        </div>
        <div class="col-6">
            <p class="float-right">
                <a class="btn btn-dark" asp-action="Generate">Generar nomina</a>
            </p>
        </div>
    </div>
    <hr />
    <table class="table table-hover table-striped" id="payrollTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    Cantidad de empleados                    
                </th>
                <th>
                    Fecha de nomina
                </th>
                <th>
                    Tot. sin descuentos
                </th>
                <th>
                    Descuentos
                </th>
                <th>
                    Total neto
                </th>
                <th>
                    Estatus
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var action = item.Status == "Activo" ? "Inactivar" : "Activar";
                <tr>
                    <td class="text-center">@item.EmployeeQuantity</td>
                    <td class="text-center">@item.PayrollDate</td>
                    <td class="text-center">@item.RawTotal</td>
                    <td class="text-center">@item.TaxTotal</td>
                    <td class="text-center">@item.NetTotal</td>
                    <td class="text-center">@item.Status</td>
                    <td>
                        <a class="btn btn-dark btn-sm" asp-action="Details" asp-route-id="@item.PayrollDate">Detalles</a> |
                        <a class="btn btn-info btn-sm" asp-action="Inactive" asp-route-id="@item.PayrollDate">@action</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#payrollTable').dataTable({
                "language": {
                    "search": "Buscar",
                    "searchPlaceholder": "Buscar...",
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay datos disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                },
            });
        });
    </script>
}